.nav {
  position: relative;
}

.title {
  margin: 2rem;

  &__text {
    display: block;

    &--main {
      font-size: 3.6rem;
      font-weight: bold;
    }

    &--secondary {
      font-size: 2.4rem;
      font-weight: normal;
    }
  }
}

.keys {
  &__header {
    margin-bottom: 2rem;
  }
  &__legend:hover {
    cursor: pointer;
  }
}

.score__wrapper {
  font-size: 3.6rem;
  margin-top: 2rem;
}

.game {
  &__wrapper {
    height: calc((.66vw + 1vh)/2 * 50);
    margin: auto;
    max-height: 60rem;
    max-width: 60rem;
    width: calc((.66vw + 1vh)/2 * 50);
  }

  &__canvas {
    border: 3px solid rgb(192, 192, 192);
    height: 100%;
    width: 100%;
  }

  &__buttons {
    margin-bottom: 2.5rem;
    width: 100%;
  }
}
