/* || Variables */

/* || Default Styles */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 1.6rem;
  max-width: 100rem;
  margin: auto;
  padding: 3rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* || Utility Classes */

.center {
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* || Sitewide Styles */

.button {
  border: .1rem solid rgba(92, 92, 92, 1);
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
}

.header {
  margin-bottom: 2rem;
}

.icon {
  width: 4rem;
}

.list {
  list-style: none;
}

.main-text {
  font-size: 1.6rem;
}

.table {
  table-layout: fixed;
}

.table-cell {
  width: 5rem;
}

.table-col-heading {
  font-size: 2rem;
}

.title-text {
  display: block;
}

/* || Specific Styles */

.title {
  margin: 2rem;
}

.title-text-main {
  font-size: 3.6rem;
  font-weight: bold;
}

.title-text-secondary {
  font-size: 2.4rem;
  font-weight: normal;
}

.game-wrapper {
  height: calc((.66vw + 1vh)/2 * 50);
  margin: auto;
  max-height: 60rem;
  max-width: 60rem;
  width: calc((.66vw + 1vh)/2 * 50);
}

.game-canvas {
  border: 1px solid rgb(92, 92, 92);
  height: 100%;
  width: 100%;
}

.speed-slow {
  background-color: rgb(78, 78, 255);
}

.speed-normal {
  background-color: rgb(96, 255, 96);
}

.speed-fast {
  background-color: rgb(255, 255, 95);
}

.speed-very-fast {
  background-color: rgb(255, 100, 100);
}

/* || Animation Keyframes */

/* || Media Queries */