html {
  box-sizing: border-box; }

body {
  background-color: black;
  max-width: 100rem;
  margin: auto;
  padding: 3rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 1.6rem; }

.list {
  list-style: none; }

.center {
  margin: auto; }

.disable-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.button {
  background-color: white;
  border: 0.1rem solid #5c5c5c;
  border-radius: 1rem;
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.5);
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  width: 15ch; }
  .button__change--on {
    background-color: #ffc14e; }
  .button__speed--slow {
    background-color: #6c6cff; }
  .button__speed--normal {
    background-color: #60ff60; }
  .button__speed--fast {
    background-color: #ffff5f; }
  .button__speed--very-fast {
    background-color: #ff6464; }

.container {
  justify-content: center; }

.icon {
  width: 4rem; }
  .icon--github {
    position: absolute;
    filter: invert(100%);
    right: 1rem; }

.table {
  table-layout: fixed; }
  .table__cell {
    width: 5rem; }
  .table__col-heading {
    font-size: 2rem; }

.nav {
  position: relative; }

.title {
  margin: 2rem; }
  .title__text {
    display: block; }
    .title__text--main {
      font-size: 3.6rem;
      font-weight: bold; }
    .title__text--secondary {
      font-size: 2.4rem;
      font-weight: normal; }

.keys__header {
  margin-bottom: 2rem; }

.keys__legend:hover {
  cursor: pointer; }

.score__wrapper {
  font-size: 3.6rem;
  margin-top: 2rem; }

.game__wrapper {
  height: calc((.66vw + 1vh)/2 * 50);
  margin: auto;
  max-height: 60rem;
  max-width: 60rem;
  width: calc((.66vw + 1vh)/2 * 50); }

.game__canvas {
  border: 3px solid silver;
  height: 100%;
  width: 100%; }

.game__buttons {
  margin-bottom: 2.5rem;
  width: 100%; }
